.env
node_modules

# desktop oathcreds downloaded from GCP when creating Oauth client credentials - use web instead for actual projects
google-service-account-credentials.json

# created by google localauth package 
token.json